* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  color: white;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: white;
  z-index: 300;
}
header .logoimg {
  width: 80px;
  height: 50px;
  margin-left: 50px;
}
header .login_link {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: 700;
  opacity: .5;
}

header .login_link:hover {
  opacity: 1;
  transition: .5s;
}
header .login_link .login_icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  align-items: center;
}
header .nav-menu a {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* margin: 0 60px; */
  border: 1px solid black;
  padding: 15px;
}
header .nav-menu a:hover {
  border: 1px solid white;
  background-color: white;
  color: black;
  /* padding: 15px; */
}
/* header .burger_icon .burger {
  width: 40px;
  height: 40px;
  display: none;
} */
header .wrapper {
  display: none;
}

.moregames_title .title h2 {
  font-size: 40px;
  width: 100%;
  color: #fff;
  font-weight: 700;
  padding: 80px 0 40px 60px;
  background-color: #2a2b2f;
}

.container {
  width: 1460px;
  margin: 0 auto;
}
.container .promo_ads {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 1460px;
  height: 500px;
  margin-top: 50px;
  color: white;
  background: url('../img/title_img.jpg')0 -200px/cover no-repeat;
}
.container .promo_ads .content {
  font-size: 52px;
  width: 100%;
  margin: 60px;
}
.container .promo_ads .content h2 {
  text-shadow: 5px 5px 5px black;
}
.container .promo_ads .content .btn_buy {
  border: 1px solid #e22026;
  border-radius: 50px;
  background-color: #e22026;
  padding: 0 50px;
  font-size: 40px;
  transition: 0.5s;
  cursor: pointer;
}
.container .promo_ads .content .btn_buy:hover {
  border: 1px solid white;
  background-color: white;
  color: #e22026;
}

.order_game {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.order_game h3 {
  font-size: 40px;
  padding: 20px 0;
}
.order_game select {
  color: #e12178;
  border: none;
  border-bottom: 1px solid #e12178;
  width: 140px;
  font-size: 17px;
  margin-top: 20px;
  font-weight: 700;
  margin: 40px 10px;
}
.order_game option {
  font-weight: 700;
}

.game_block {
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  justify-content: space-around;
}
.game_block .content_game .game_link .game_img {
  display: block;
  width: 250px;
  height: 300px;
  background-color: black;
}
.game_block .content_game h3 {
  font-size: 22px;
  margin: 5px 0;
}
.game_block .content_game .platform_icon {
  width: 15px;
  height: 15px;
  margin: 10px 0;
  opacity: .5;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 25px; */
}

.more_games {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
  border: 1px solid white;
  border-radius: 50px;
  background-color: #e12178;
  color: white;
  padding: 15px 25px;
  font-weight: 500;
  margin: 50px 0;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.more_games:hover {
  border: 1px solid #e22026;
  background-color: white;
  transition: 0.5s;
  color: #e22026;
}

.more_games_lis {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 12px 0;
}
.more_games_lis .title_more-games h2 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 70px 0 12px 0;
}

.container-second_color {
  background-color: #f0f3f4;
}
.container-second_color .game_block {
  padding: 0 0 50px 0;
  margin-top: 35px;
}

.wrapper-news {
  margin: 150px 0;
}
.wrapper-news .block_news_top {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  line-height: 30px;
}
.wrapper-news .block_news_top .news-wrapper h3 {
  font-size: 30px;
}
.wrapper-news .block_news_top .news-wrapper .more_info {
  color: #e22026;
}
.wrapper-news .block_news_top .news_content {
  flex-direction: column;
}
.wrapper-news .block_news_top .news_content .news_img {
  display: block;
  width: 500px;
  height: 250px;
  background-color: black;
}
.wrapper-news .block_news_bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 30px;
  padding: 50px 0;
}
.wrapper-news .block_news_bottom .news-wrapper h3 {
  font-size: 30px;
}
.wrapper-news .block_news_bottom .news-wrapper .more_info {
  color: #e22026;
}
.wrapper-news .block_news_bottom .news_content {
  flex-direction: column;
}
.wrapper-news .block_news_bottom .news_content .news_img {
  display: block;
  width: 500px;
  height: 250px;
}

footer {
  background-color: #1d1e21;
  width: 100%;
  height: 250px;
}
footer .footer_nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
}
footer .footer_nav-menu .footer_menu {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  padding: 30px 0;
}
footer .footer_nav-menu .footer_menu a {
  margin: 0 30px;
}
footer .footer_nav-menu .footer_menu a:hover {
  text-decoration: underline;
}

footer .official_info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 80px;
}


@media screen and ( max-width: 1460px) {
  .container {
    width: 1280px;
    margin: 0 auto;
  }
  .container .promo_ads {
    width: 1200px;
    margin: 50px auto;
  }
}
@media screen and ( max-width: 1280px) {
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  .container .promo_ads {
    width: 1000px;
    margin: 50px auto;
  }
  .container .promo_ads .content {
    font-size: 32px;
    margin: 200px 30px;
  }
  header .wrapper {
    display: block;
  }
  header .main-menu {
    display: block;
  }
  .nav-menu {
    display: none;
  }
  .game_block .content_game .game_link .game_img {
    width: 200px;
    height: 250px;
  }
  .game_block .content_game h3 {
    font-size: 14px;
  }
}
@media screen and ( max-width: 1024px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }
  .container .promo_ads {
    width: 900px;
    margin: 50px auto;
  }
  .container .promo_ads .content {
    font-size: 32px;
    margin: 250px 30px;
  }
  .game_block .content_game .game_link .game_img {
    width: 175px;
    height: 225px;
  }
  .game_block .content_game h3 {
    font-size: 14px;
  }
}
@media screen and ( max-width: 960px) {
  .container {
    width: 720px;
    margin: 0 auto;
  }
  .container .promo_ads {
    width: 700px;
    margin: 50px auto;
  }
  .container .promo_ads .content {
    font-size: 20px;
  }
  .game_block .content_game .game_link .game_img {
    width: 125px;
    height: 175px;
  }
  .game_block .content_game h3 {
    font-size: 12px;
  }
  .container .order_game .select_filter {
    margin-top: 18px;
  }
}
@media screen and ( max-width: 720px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
  .container .promo_ads {
    display: none;
  }
  .container .order_game .select_filter {
    margin-top: 18px;
  }
  .wrapper-news .block_news_top .news_content .news_img {
    width: 400px;
    height: 175px;
  }
  .wrapper-news .block_news_bottom .news_content .news_img {
    width: 400px;
    height: 175px;
  }
  .wrapper-news .block_news_top {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .wrapper-news .block_news_bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper-news {
    margin: 80px 0;
  }
  .more_games {
    padding: 10px 25px;
    font-size: 18px;
    margin-top: 0px;
  }
  .gb2 {
    display: none;
  }
  .gb3 {
    display: none;
  }
  .gb4 {
    display: none;
  }
}
@media screen and ( max-width: 480px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}
